@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
  font-family: 'Red Hat Display', sans-serif;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
  margin: 15px;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}


